@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

body html{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-color: #070a52;
}

#root{
  position: fixed;
  inset: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  background-color: #070a52;
  color: white;
}